<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251611596478-irhkheto8hem3qd5dg3oufm214lp7i49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251611596478-irhkheto8hem3qd5dg3oufm214lp7i49</string>
	<key>API_KEY</key>
	<string>AIzaSyBPsXVYVZfPjB7q8cQW2FX_0x0flmNUqjA</string>
	<key>GCM_SENDER_ID</key>
	<string>251611596478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseChat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-exsis</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-exsis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251611596478:ios:4b2d65a3abbe974c00c0ef</string>
</dict>
</plist>